.invert {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
  background-color: #333333;
  color: white;
}


h4, hr {
    color: lightgrey;
}

li {
    margin-top: 15px;
    text-decoration: underline;
}

.jumbotron {
    margin-top: 75px;
}
